.flask-wrapper.can-drop {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#flask {
    width: 300px;
}

#flask .ellipse-wrapper ellipse,
#flask .ellipse-wrapper circle {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-name: circle;
}

@keyframes circle {

    0% {
        transform: translateY(19px);
        opacity: 0;
    }

    1% {
        transform: translateY(20px);
        opacity: 1;
    }

    100% {
        transform: translateY(-400px);
        opacity: 0;
    }
}

#flask .ellipse-wrapper ellipse:nth-child(2) {
    animation-delay: 3s;
}

#flask .ellipse-wrapper ellipse:nth-child(4) {
    animation-delay: 1s;
}

#flask .ellipse-wrapper  circle:nth-child(6) {
    animation-delay: 2s;
}

#flask .ellipse-wrapper  circle:nth-child(8) {
    animation-delay: 4s;
}

#flask .ellipse-wrapper ellipse:nth-child(10) {
    animation-delay: 8s;
}

#flask .ellipse-wrapper ellipse:nth-child(12) {
    animation-delay: 6s;
}

#flask .ellipse-wrapper ellipse:nth-child(14) {
    animation-delay: 6s;
}

#flask .ellipse-wrapper ellipse:nth-child(16) {
    animation-delay: 6s;
}

#flask .ellipse-wrapper  circle:nth-child(18) {
    animation-delay: 6s;
}



