.flask-wrapper.can-drop {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#flask {
    width: 300px;
}

#flask circle,
#flask ellipse {
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-name: circle;
}

#flask .ellipses .ellipse:nth-child(1) {
    animation-duration: 5000ms;
}

#flask .ellipses .ellipse:nth-child(2) {
    animation-duration: 5000ms;
    animation-delay: 100ms;
}

#flask .ellipses .ellipse:nth-child(3) {
    animation-duration: 5000ms;
    animation-delay: 200ms;
}

#flask circle {
    animation-duration: 7200ms;
    animation-delay: 300ms;
}

@keyframes circle {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    90% {
        transform: translateY(-200px);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}